/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
    background-color: #d0e4fe;
}

h1 {
    color: orange;
    text-align: center;
    float: left;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}
img { 
	border:30px;
}

#navMain {
    list-style:none;
	font-family:tahoma;
	font-size:12px;
	border:1px #a81b2f solid;
	float:left;
	width:940px;
	margin:0;
	padding:0;
	background:url('/images/nav-bg.jpg');
	/* CSS3 border-radius allows you to round the corners of any image - pretty handy */
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}

#navMain > li{
	float:left;
	position:relative;
	border-right:1px solid #9b2838;
}
#navMain > li > a{
	color:#f4e4e6;
	float:left;
	text-decoration:none;
	padding:11px 18px;
	border-right:1px solid #bf3549;
}
#navMain .currentPage a{
    background: rgb(99, 20, 32);
    /* RGBa with 0.6 opacity */
    background: rgba(99, 20, 32, 0.25);
}
#navMain .greeting > li{
    float:right;
    clear:left;
}
#navMain ul {
	display:none;
}
.box {
  clear:left;
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}
#main {
	clear:left;
}

.pic {
  clear:left;
  display: inline-block;
  width: 250px;
  height: 200px;
  margin: 1em;
}
.pics_frame {
	clear:left;
	width:700px;
	height:300px;

}
.frame {
  clear:left;
  display: inline-block;
  width: 250px;
  height: 200px;
  margin: 1em;
  border: 4px solid black;
}

.prompt {
	float:left; 
	clear:left;
	width:700px;
	height:300px;

}}
